<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style>
            #content{
                margin: auto;
                margin-top: 50px;
                padding: 50px;
                border: dashed 2px royalblue;
                border-radius: 10px;
                width: 800px;
            }
            #debug{
                border: solid 1px gray;
                background-color: whitesmoke;
                padding: 5px;
                font-family: monospace;
            }

        </style>
    </head>
    <body>
        <script type="template" id="q-table">
            <% var decimalPlaces = 4 %>
            <table>
                <tr>
                    <td>
                       <!--empty -->
                    </td>
                    <td style="text-align: center; padding-right: 5px;">
                       <i style="color: gray">Action</i>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding-right: 5px;">
                       <i style="color: gray">State</i>
                    </td>
                    <td>
                        <table cellspacing="0" style="padding: 5px;">
                            <tr style="padding: 5px; background-color: silver;">
                                <td style="background-color: whitesmoke;"></td>
                                <td>left</td>
                                <td>right</td>
                            </tr>
                        <% for(var i = 1; i <= N; i++) { %>
                            <% var qValue_left = Q[[i, -1]] || 0 %>
                            <% var qValue_right = Q[[i, +1]] || 0 %>
                            <tr>
                                <td style="padding: 5px; background-color: silver; "><%= i %></td>
                                <td style="font-weight: bold; padding: 5px; color: rgb( <%= Math.round(150*qValue_left + 100) %> , <%= (qValue_left)? 0 : 100 %>, <%= (qValue_left)? 100 : 100 %>)">
                                    <%= (qValue_left).toFixed(decimalPlaces) %>
                                </td>
                                <td style="font-weight: bold; padding: 5px; color: rgb( <%= Math.round(150*qValue_right + 100) %> , <%= (qValue_right)? 0 : 100 %>, <%= (qValue_right)? 100 : 100 %>)">
                                    <%= (qValue_right).toFixed(decimalPlaces) %>
                                </td>
                            </tr>
                        <% } %>
                        </table>

                    </td>
                </tr>
            </table>
        </script>

        <div id="content">
            <h1>TODO: use probabilities to choose action</h1>
            <canvas id="canvas" width="800" height="300"></canvas>
            <br>
            <button id="reset" onclick="learner.reset(); update();">reset</button>
            <button id="step" onclick="learner.step(); update();">step</button>
            <button id="run" onclick="runQLearnerExploration();">run (explore)</button>
            <button id="run" onclick="runQLearnerGreedy();">run (exploit)</button>
            <!--<button id="run-NxN" onclick="runQLearner();">run N^2</button>-->
            <br>
            <br>
            <b>Q-Function:</b>
            <div id="debug">
                hey
            </div>
        </div>

        <script src="js/vendor/underscore.js"></script>
        <script src="js/QLearner.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
