<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style>
            #content{
                margin: auto;
                margin-top: 50px;
                padding: 50px;
                border: dashed 2px royalblue;
                border-radius: 10px;
                width: 800px;
            }
            #debug{
                border: solid 1px gray;
                background-color: whitesmoke;
                padding: 5px;
                font-family: monospace;
            }

        </style>
    </head>
    <body>
        <script type="template" id="q-table">
            <% var decimalPlaces = 4 %>
            <table>
                <tr>
                    <td>
                       <!--empty -->
                    </td>
                    <td style="text-align: center; padding-right: 5px;">
                       <i style="color: gray">Action</i>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding-right: 5px;">
                       <i style="color: gray">State</i>
                    </td>
                    <td>
                        <table cellspacing="0" style="padding: 5px;">
                            <tr style="padding: 5px; background-color: silver;">
                                <td style="background-color: whitesmoke;"></td>
                                <td>left</td>
                                <td>right</td>
                            </tr>
                        <% for(var i = 1; i <= N; i++) { %>
                            <% var qValue_left = Q[[i, -1]] || 0 %>
                            <% var qValue_right = Q[[i, +1]] || 0 %>
                            <tr>
                                <td style="padding: 5px; background-color: silver; "><%= i %></td>
                                <td style="font-weight: bold; padding: 5px; color: rgb( <%= Math.round(150*qValue_left + 100) %> , <%= (qValue_left)? 0 : 100 %>, <%= (qValue_left)? 100 : 100 %>)">
                                    <%= (qValue_left).toFixed(decimalPlaces) %>
                                </td>
                                <td style="font-weight: bold; padding: 5px; color: rgb( <%= Math.round(150*qValue_right + 100) %> , <%= (qValue_right)? 0 : 100 %>, <%= (qValue_right)? 100 : 100 %>)">
                                    <%= (qValue_right).toFixed(decimalPlaces) %>
                                </td>
                            </tr>
                        <% } %>
                        </table>

                    </td>
                </tr>
            </table>
        </script>

        <div id="content">
            <h1>TODO: how to initialize and then decrease &#949;?</h1>
            <h1>TODO: bug for &#949; values greedy vs explore?</h1>
            <canvas id="canvas" width="800" height="300"></canvas>
            <br>

            States: <input type="number" id="num-of-states" min="1" max="50" step="1" value="10" style="width: 4em; text-align: center;" onchange="setNumberOfStates(+this.value)" />
            <br>
            Gamma: <input type="number" id="gamma" min="0" max="1" step="0.01" value="0.85" style="width: 4em; text-align: center;" onchange="learner.gamma = +this.value" />
            <br>
            Episodes per run: <input type="number" id="episodes-per-run" min="1" value="10" style="width: 3em; text-align: center;" />
            <br>
            <button id="reset" onclick="resetLearner();">reset</button>
            <br>
            <table>
                <tr>
                    <td><b>Explore:</b> (&#949; = 1)</td>
                    <td>
                        <button id="step-explore" onclick="runQLearnerStepExploration();">step</button>
                    </td>
                    <td>
                        <button id="run-explore" onclick="runQLearnerExploration();">run</button>
                    </td>
                </tr>
                <tr>
                    <td><b>Exploit:</b>(&#949; = 0)</td>
                    <td>
                        <button id="step-exploit" onclick="runQLearnerStepGreedy();">step</button>
                    </td>
                    <td>
                        <button id="run-exploit" onclick="runQLearnerGreedy();">run</button>
                    </td>
                </tr>
                <tr>
                    <td><b>&#949;-greedy:</b>
                        (&#949; =  <input type="number" id="epsilon" min="0" value="0.5" max="1" step="0.1" style="width: 3em; text-align: center;" />)
                    </td>
                    <td>
                        <button id="e-step" onclick="runQLearnerStepEpsilon();">step</button>
                    </td>
                    <td>
                        <button id="e-run" onclick="runQLearnerEpsilon();">run</button>
                    </td>
                </tr>
                <tr>
                    <td><b>varying &#949;-greedy:</b>
                        (initial &#949; =  <input type="number" id="initial-epsilon" min="0" value="0.9" max="1" step="0.1" style="width: 3em; text-align: center;" />)
                    </td>
                    <td>
                        <button id="e-step" onclick="runQLearnerStepDecreaseEpsilon();" disabled="disabled">step</button>
                    </td>
                    <td>
                        <button id="e-run" onclick="runQLearnerDecreaseEpsilon();">run</button>
                    </td>
                    <td>
                        <button id="e-continue" onclick="runQLearnerDecreaseEpsilon(true);">continue (with current epsilon)</button>
                    </td>
                </tr>
            </table>
            <!--<br>-->
            <!--Total Episodes: <b id="total-episodes">0</b>-->
            <br>
            <br>
            Delay: <b id="delay-current">?</b>
            (
            <b id="delay-from">10</b>
            <input type="range" name="delay" value="500" min="10" max="1000" step="10" id="delay" onchange="document.getElementById('delay-current').innerHTML = this.value; setDelay(+this.value)">
            <b id="delay-to">1000</b>
            )
            

            <br>
            <!--<button id="run-NxN" onclick="runQLearner();">run N^2</button>-->
            <br>
            <br>
            <b>Q-Function:</b>
            <div id="debug">
                hey
            </div>
        </div>

        <script src="js/vendor/underscore.js"></script>
        <script src="js/QLearner.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
